/* VARIABLES -------------------------------- */
/* VARIABLES -------------------------------- */
:root {
    --pepsi-bottle: 500;
    --device-rotation-x: 0;
    --device-rotation-x-reversed: 10;

    --color-white: #FFFFFF;
    --color-lightgray: #eeeded;
    --color-gray: #454546;
    --color-black: #000000;
    --color-darkgray1: #262628;
    --color-darkgray2: #1d1d1f;
    --color-dark: #0d1010;
    --color-dark-alternative: #26211c;

    --color-cola: #552020;
    --color-red: #eb2328;


}

/* #1d1919 */



/* RESET -------------------------------- */
/* RESET -------------------------------- */
*, *::after, *::before {
  box-sizing:border-box;  
  outline: none;
  appearance: none;
  margin: 0;
  padding: 0;
}



/* GENERAL STYLING -------------------------------- */
/* GENERAL STYLING -------------------------------- */
html {
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: var(--color-darkgray1);
}
body::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url("../images/pepsi-logo-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    opacity: 0.02;
    z-index: -1;
}
main {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.not-visible {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -999;
    height: 0;
    width: 0;
    pointer-events: none;
}

/* body > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: calc(var(--pepsi-bottle) * 1px);
    width: auto;

    display: none;
} */
body > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 72vw;
    opacity: 0.02;

    display: none;
}




/* PEPSI BOTTLE -------------------------------- */
/* PEPSI BOTTLE -------------------------------- */
main > article:nth-of-type(1) {
    position: relative;
    height: 40em;
    width: auto;
    aspect-ratio: 1 / 3.25;
    font-size: calc(var(--pepsi-bottle) * 0.025px);
    transition: 1s transform;
    transition-delay: 450ms;
}
body.rotate-locked main > article:nth-of-type(1) {
    transform: translateY(50%);
}

/* CAP */
main > article:nth-of-type(1) > section:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: var(--color-dark);
    background-image: radial-gradient(rgb(255 255 255 / 0.065), transparent, transparent);
    background-size: 13.25% 95%;
    background-position: 50% 250%;
    background-repeat: repeat-x;
    height: 1.45em;
    aspect-ratio: 4.35 / 1;
    clip-path: url('#cap-clip-path');
    z-index: 2;
    pointer-events: none;
    transition: 750ms;
}
body.rotate-locked main > article:nth-of-type(1) > section:nth-of-type(1) {
    pointer-events: all;
}
body.cap-removed main > article:nth-of-type(1) > section:nth-of-type(1) {
    transform: translate(-55%, -10%) rotate(-10deg);
}
body.cap-removed-fully main > article:nth-of-type(1) > section:nth-of-type(1) {
    transform: translate(-75vw, -45vh) rotate(-350deg);
}
main > article:nth-of-type(1) > section:nth-of-type(1)::before,
main > article:nth-of-type(1) > section:nth-of-type(1)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -45%;
    height: 150%;
    width: 100%;
    background-image: inherit;
    background-size: 13.25% 95%;
    background-position: 50% 250%;
    background-repeat: repeat-x;
}
main > article:nth-of-type(1) > section:nth-of-type(1)::before {
    box-shadow: inset 0.1em 0.1em 0.25em rgb(255 255 255 / 0.2),
                inset -0.1em 0.1em 0.25em rgb(255 255 255 / 0.2),
                inset 0 1.25em 0.75em -1em rgb(255 255 255 / 0.05),
                inset 0.05em 0 0.1em var(--color-black),
                inset -0.05em 0 0.1em var(--color-black),
                inset 0 0.25em 0.25em -0.1em var(--color-black);
    border-radius: 0.65em 0.65em 0 0;
}
main > article:nth-of-type(1) > section:nth-of-type(1)::after {
    bottom: -70%;
}
main > article:nth-of-type(1) > section:nth-of-type(2) {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.75em 1em 1em rgb(0 0 0 / 0.15));
    overflow: hidden;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 0.15);
    clip-path: url('#bottle-clip-path');
    z-index: 1;
}
main > article:nth-of-type(1) > section:nth-of-type(2)> section:nth-of-type(1)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2.85%;
    width: 100%;
    aspect-ratio: 55 / 1;
    background-color: rgb(0 0 0 / 0.15);
    box-shadow: 0 0 0.2em 0.1em rgb(0 0 0 / 0.15);
}
main > article:nth-of-type(1) > section:nth-of-type(2)> section:nth-of-type(1)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 7%;
    width: 100%;
    aspect-ratio: 55 / 1;
    background-color: rgb(0 0 0 / 0.225);
    box-shadow: 0 0 0.2em 0.1em rgb(0 0 0 / 0.225);
}

/* FLUID (COLA) */
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color-cola);
    height: 120%;
    aspect-ratio: 1 / 1;
    z-index: -1;
    transform: translate(calc(-50% + (var(--device-rotation-x) * -2.1em)), calc(-50% + (var(--device-rotation-x-reversed) * 1.25em))) rotate(calc(var(--device-rotation-x) * 9.25deg));
    will-change: transform;
}
body.rotate-locked main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(1) {
    transform: translate(-50%, -32.5%) rotate(0deg);
    transition: 250ms transform;
}
body.rotate-locked main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(1)::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1.5%;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(0deg, var(--color-cola) 0%, rgba(186,115,42,1) 60%, rgba(235,205,164,1) 85%, rgba(235,205,164,0) 100%);;
    background-size: cover;
}
body.cap-removed-fully main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(1) {
    transform: translate(-50%, -25%) rotate(0deg);
    transition: 1250ms transform;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(2) {
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(29,25,25,0.75) 10%, rgba(29,25,25,0.45284051120448177) 30%, rgba(29,25,25,0.09989933473389356) 40%, rgba(29,25,25,0) 45%, rgba(29,25,25,0) 55%, rgba(29,25,25,0.10270045518207283) 60%, rgba(29,25,25,0.44723827030812324) 70%, rgba(29,25,25,0.75) 90%);
    box-shadow: inset 0 -6.5em 4em 1em rgba(29,25,25,0.975);
}

/* LABEL */
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(2) {
    position: absolute;
    top: 14.25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-dark);
    height: 41.35%;
    aspect-ratio: 1 / 1.7;
    display: flex;
    flex-direction: column;
    clip-path: url('#label-clip-path');
    opacity: 0.9;
    z-index: 1;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(2) img:first-of-type {
    margin-top: 14.5%;
    height: 37%;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > section:nth-of-type(2) img:last-of-type {
    margin-top: 6%;
    height: 17.5%;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    height: 98.5%;
    width: 70%;
    filter: drop-shadow(0.1em 0 0.1em var(--color-white)) drop-shadow(-0.1em 0 0.1em var(--color-white)) drop-shadow(0em 0 0.025em var(--color-white));
    z-index: 3;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(1)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.02);
    clip-path: url('#reflection-clip-path');
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(2) {
    position: absolute;
    left: 51%;
    top: 1%;
    transform: translateX(-50%);
    height: 98.75%;
    width: 46%;
    filter: drop-shadow(0.1em 0 0.1em var(--color-white)) drop-shadow(-0.1em 0 0.1em var(--color-white)) drop-shadow(0em 0 0.025em var(--color-white));
    z-index: 3;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.02);
    clip-path: url('#reflection2-clip-path');
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(3) {
    position: absolute;
    left: 0;
    top: 0;
    height: 99.75%;
    width: 100%;
    filter: drop-shadow(0.1em 0 0.1em var(--color-white)) drop-shadow(-0.1em 0 0.1em var(--color-white));
    z-index: 3;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(3)::before {
    content: '';
    position: absolute;
    left: 0.3%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 0.0125);
    clip-path: url('#reflection3-clip-path');
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(4) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 -4.5em 4em -1em var(--color-dark);
    opacity: 0.65;
    clip-path: url('#bottle-clip-path');
    z-index: 2;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(5) {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: 95%;
    aspect-ratio: 6.7 / 1;
    background-color: rgb(255 255 255 / 0.15);
    background-color: var(--color-gray);
    box-shadow: inset 2em 0 1.5em 0 rgb(0 0 0 / 0.225),
                inset -2em 0 1.5em 0 rgb(0 0 0 / 0.225);
    clip-path: url('#bottom-clip-path');
    z-index: 4;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(5)::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 22%;
    transform: translateX(-50%);
    height: 35%;
    width: 60%;
    background-color: var(--color-dark-alternative);
    box-shadow: 0 0 0.1em 0.075em var(--color-dark),
                inset 0 0 0.25em 0.15em var(--color-dark);
    border-radius: 100%;
    opacity: 0.85;
    opacity: 0.175;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(5)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    /* background: linear-gradient(270deg, rgba(42,36,33,1) 15%, rgba(147,118,92,1) 50%, rgba(42,36,33,1) 85%); */
    background-color: rgb(0 0 0 / 0.4);
    clip-path: url('#bottom-line-clip-path');
    opacity: 0.45;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(6) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    clip-path: url('#bottle-clip-path');
    box-shadow: inset 0 0.3em 0.45em rgb(255 255 255 / 0.1),
                inset 0 1.35em 1em -0.5em rgb(0 0 0 / 0.5),
                inset 0 0.3em 0.45em rgb(0 0 0 / 0.5),
                inset 0 0.9em 0.15em -0.1em rgb(255 255 255 / 0.1);
    z-index: 5;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(6)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1%;
    width: 100%;
    aspect-ratio: 35 / 1;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.35) 30%, rgba(255,255,255,0) 47.5%, rgba(255,255,255,0) 52.5%, rgba(255,255,255,0.35) 70%, rgba(255,255,255,0.35) 100%);
    filter: blur(0.125em);
    opacity: 0.45;
    z-index: 5;
}
main > article:nth-of-type(1) > section:nth-of-type(2) > div:nth-of-type(6)::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0.5%;
    transform: translateX(-50%);
    width: 30%;
    aspect-ratio: 8 / 1;
    background-color: rgb(0 0 0 / 0.35);
    border-radius: 100% 100% 0 0;
    filter: blur(0.25em);
    z-index: -1;
    opacity: 0.25;
}

/* HINTS */
main > article:nth-of-type(1) > img {
    position: absolute;
    left: 0;
    top: 0;
    height: 5.5em;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: 1s opacity;
}
main > article:nth-of-type(1) > img:nth-of-type(1) {
    transform: translate(-75%, 0) rotate(-60deg);
}
main > article:nth-of-type(1) > img:nth-of-type(2) {
    height: 6em;
    transform: translate(-5%, -165%) rotate(10deg);   
}
body.show-hint1 main > article:nth-of-type(1) > img:nth-of-type(1),
body.show-hint2 main > article:nth-of-type(1) > img:nth-of-type(2) {
    opacity: 0.75;
}
body.show-hint2 main > article:nth-of-type(1) > img:nth-of-type(1) {
    opacity: 0;
}
body.show-hint2 main > article:nth-of-type(1) > img:nth-of-type(2) {
    transition-delay: 1.5s;
}
body.cap-removed-fully main > article:nth-of-type(1) > img:nth-of-type(1),
body.cap-removed-fully main > article:nth-of-type(1) > img:nth-of-type(2) {
    opacity: 0;
}

/* THANK YOU BUBBLES */
main > article:nth-of-type(1) > div {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 175%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
main > article:nth-of-type(1) > div > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.65em;
    width: 0.65em;
    border-radius: 50%;
    background-image: radial-gradient(ellipse at center, rgba(235,205,164,0.1) 0%,rgba(235,205,164,0) 85%);
    box-shadow: inset 0 0.085em 0.15em 0.05em rgba(235,205,164,0.15);
    transform: translate(1625%, 3500%);
    transition: 1s;
    opacity: 0;
}
body.rotate-locked main > article:nth-of-type(1) > div > div {
    opacity: 1;
}
body.cap-removed-fully main > article:nth-of-type(1) > div > div {
    background-image: radial-gradient(ellipse at 35% 35%, rgba(235,205,164,0.5) 0%,rgba(235,205,164,0) 20%);
    box-shadow: 0 0.1em 0.35em rgba(0,0,0,0.05), 
                inset 0 0.025em 0.1em 0.015em rgba(235,205,164,1),
                0 0 0.1em rgba(235,205,164,0.25);
}

/* THANK YOU BUBBLES - BEDANKT */
/* THANK YOU BUBBLES - B */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(1) {transform: translate(0.05em, 0.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(2) {transform: translate(-0.05em, 1.22em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(3) {transform: translate(-0.065em, 2em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(4) {transform: translate(0.025em, 2.725em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(5) {transform: translate(0.85em, 0.55em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(6) {transform: translate(1.6em, 0.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(7) {transform: translate(2em, 1.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(8) {transform: translate(1.3em, 1.6em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(9) {transform: translate(0.6em, 1.8em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(10) {transform: translate(1.6em, 2.275em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(11) {transform: translate(2.1em, 2.85em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(12) {transform: translate(1.5em, 3.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(13) {transform: translate(0.8em, 3.5em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(14) {transform: translate(0.05em, 3.45em);}
/* THANK YOU BUBBLES - E */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(15) {transform: translate(5em, 3.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(16) {transform: translate(4.22em, 3.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(17) {transform: translate(3.5em, 3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(18) {transform: translate(3.15em, 2.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(19) {transform: translate(3.3em, 1.575em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(20) {transform: translate(4.01em, 1.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(21) {transform: translate(4.72em, 1.55em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(22) {transform: translate(4.75em, 2.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(23) {transform: translate(4.075em, 2.55em);}
/* THANK YOU BUBBLES - D */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(24) {transform: translate(8.075em, 0em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(25) {transform: translate(8.025em, 0.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(26) {transform: translate(8em, 1.5em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(27) {transform: translate(8.1em, 2.25em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(28) {transform: translate(8.275em, 2.95em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(29) {transform: translate(8.775em, 3.5em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(30) {transform: translate(7.275em, 1.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(31) {transform: translate(6.55em, 1.875em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(32) {transform: translate(5.935em, 2.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(33) {transform: translate(6.05em, 3.025em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(34) {transform: translate(6.75em, 3.2em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(35) {transform: translate(7.5em, 3.1em);}
/* THANK YOU BUBBLES - A */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(36) {transform: translate(11.695em, 3.275em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(37) {transform: translate(11.075em, 2.85em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(38) {transform: translate(11.075em, 2.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(39) {transform: translate(10.75em, 1.525em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(40) {transform: translate(10.075em, 1.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(41) {transform: translate(9.7em, 2.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(42) {transform: translate(9.8em, 3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(43) {transform: translate(10.475em, 3.3em);}
/* THANK YOU BUBBLES - N */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(44) {transform: translate(12.7em, 1.25em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(45) {transform: translate(12.75em, 1.975em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(46) {transform: translate(12.8em, 2.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(47) {transform: translate(12.85em, 3.415em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(48) {transform: translate(13.5em, 2.475em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(49) {transform: translate(14.05em, 2em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(50) {transform: translate(14.6em, 1.575em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(51) {transform: translate(14.75em, 2.25em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(52) {transform: translate(14.85em, 2.95em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(53) {transform: translate(15.32em, 3.5em);}
/* THANK YOU BUBBLES - K */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(54) {transform: translate(16.4em, 0.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(55) {transform: translate(16.45em, 1.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(56) {transform: translate(16.5em, 2.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(57) {transform: translate(16.55em, 2.85em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(58) {transform: translate(16.6em, 3.55em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(59) {transform: translate(17.25em, 2.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(60) {transform: translate(17.95em, 2.95em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(61) {transform: translate(18.6em, 3.25em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(62) {transform: translate(17.775em, 2.275em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(63) {transform: translate(18.35em, 1.9em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(64) {transform: translate(18.9em, 1.5em);}
/* THANK YOU BUBBLES - T */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(65) {transform: translate(20em, 0.35em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(66) {transform: translate(19.95em, 1.05em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(67) {transform: translate(19.9em, 1.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(68) {transform: translate(19.85em, 2.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(69) {transform: translate(20em, 3.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(70) {transform: translate(20.7em, 3.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(71) {transform: translate(20.6em, 1.85em);}

/* THANK YOU BUBBLES - SANNE */
/* THANK YOU BUBBLES - S */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(72) {transform: translate(4em, 7.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(73) {transform: translate(3.25em, 7.1em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(74) {transform: translate(2.8em, 7.695em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(75) {transform: translate(3.35em, 8.2em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(76) {transform: translate(3.95em, 8.725em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(77) {transform: translate(4.2em, 9.425em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(78) {transform: translate(3.675em, 9.95em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(79) {transform: translate(2.95em, 9.9em);}
/* THANK YOU BUBBLES - A */
/* body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(80) {transform: translate(11.695em, 10.425em);} */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(80) {transform: translate(7.095em, 9.725em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(81) {transform: translate(6.475em, 9.3em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(82) {transform: translate(6.475em, 8.6em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(83) {transform: translate(6.15em, 7.975em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(84) {transform: translate(5.475em, 8.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(85) {transform: translate(5.1em, 8.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(86) {transform: translate(5.2em, 9.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(87) {transform: translate(5.875em, 9.75em);}
/* THANK YOU BUBBLES - N */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(88) {transform: translate(8.1em, 7.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(89) {transform: translate(8.15em, 8.425em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(90) {transform: translate(8.2em, 9.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(91) {transform: translate(8.25em, 9.865em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(92) {transform: translate(8.9em, 8.925em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(93) {transform: translate(9.45em, 8.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(94) {transform: translate(10em, 8.025em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(95) {transform: translate(10.15em, 8.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(96) {transform: translate(10.25em, 9.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(97) {transform: translate(10.72em, 9.95em);}
/* THANK YOU BUBBLES - N */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(98) {transform: translate(11.8em, 7.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(99) {transform: translate(11.85em, 8.425em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(100) {transform: translate(11.9em, 9.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(101) {transform: translate(11.95em, 9.865em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(102) {transform: translate(12.6em, 8.925em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(103) {transform: translate(13.15em, 8.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(104) {transform: translate(13.7em, 8.025em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(105) {transform: translate(13.85em, 8.7em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(106) {transform: translate(13.95em, 9.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(107) {transform: translate(14.32em, 9.95em);}
/* THANK YOU BUBBLES - E */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(108) {transform: translate(17em, 9.85em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(109) {transform: translate(16.22em, 9.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(110) {transform: translate(15.5em, 9.45em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(111) {transform: translate(15.15em, 8.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(112) {transform: translate(15.3em, 8.025em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(113) {transform: translate(16.01em, 7.85em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(114) {transform: translate(16.72em, 8em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(115) {transform: translate(16.75em, 8.75em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(116) {transform: translate(16.075em, 9em);}
/* THANK YOU BUBBLES - ! */
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(117) {transform: translate(18.25em, 6.65em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(118) {transform: translate(18.3em, 7.4em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(119) {transform: translate(18.35em, 8.15em);}
body.cap-removed-fully main > article:nth-of-type(1) > div > div:nth-of-type(120) {transform: translate(18.425em, 9.5em);}



/* GYRO NOTIFICATION / CONTINUE -------------------------------- */
/* GYRO NOTIFICATION / CONTINUE -------------------------------- */
main > section {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 1.5em;
    background-color: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(0.75em);
    -webkit-backdrop-filter: blur(0.75em);
    color: rgb(255 255 255 / 0.75);
    text-align: center;
    transition: 350ms;
    z-index: 100;
}
body.rotate-allowed main > section:nth-of-type(1) {
    opacity: 0;
    visibility: hidden;
}
main > section h1 {
    margin-top: 1.75em;
    font-size: 2em;
}
main > section p {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    flex: 1;
}
main > section button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 1.25em 1.45em;
    border-radius: 0.75em;
    background-color: rgb(255 255 255 / 0.035);
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: rgb(255 255 255 / 0.75);
    border: 3px solid rgb(255 255 255 / 0.035);
    transition: 350ms;
    cursor: pointer;
}
main > section button:hover {
    background-color: rgb(255 255 255 / 0.05);
    border: 3px solid rgb(255 255 255 / 0.045);
}
main > section button::after {
    content: 'Gebruik afgewezen';
    position: absolute;
    left: 4.5em;
    bottom: 0.8em;
    font-size: 0.8em;
    font-weight: 400;
    color: var(--color-red);
    opacity: 0;
    transition: 350ms;
    transition-delay: 150ms;
}
main > section button svg {
    height: 1em;
    margin-right: 1em;
}
main > section button svg path {
    fill: rgb(255 255 255 / 0.75);
}
main > section button span {
    display: block;
    width: 100%;
}
main > section p:last-of-type {
    flex: unset;
    font-size: 0.85em;
    font-weight: 300;
    opacity: 0.35;
}
main > section strong {
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    opacity: 0.15;
    font-weight: 700;
}
body.sensors-denied main > section:nth-of-type(1) {
    background-color: rgb(0 0 0 / 0.85);
}
body.sensors-denied main > section:nth-of-type(1) button {
    padding: 0.75em 1.45em 2em 1.45em;
}
body.sensors-denied main > section:nth-of-type(1) button::after {
    opacity: 1;
}
body.sensors-denied main > section:nth-of-type(1) p:last-of-type {
    animation-name: sensors-permission-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



/* SCREEN ORIENTATION NOTIFICATION -------------------------------- */
/* SCREEN ORIENTATION NOTIFICATION -------------------------------- */
main > section:nth-of-type(2) {
    padding: 0 5em;
    opacity: 0;
    visibility: hidden;
    transition: 350ms;
    z-index: 101;
}
main > section:nth-of-type(2) h2 {
    margin-top: -0.5em;
    font-size: 2em;
}
main > section:nth-of-type(2) p {
    margin-top: 1em;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    flex: unset;
}
main > section:nth-of-type(2) p:last-of-type {
    margin-top: 2.5em;
    flex: unset;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.35;
}



/* KEYFRAMES -------------------------------- */
/* KEYFRAMES -------------------------------- */
@keyframes sensors-permission-pulse {
    0%, 100% {
        opacity: 0.35;
    }
    50% {
        opacity: 1;
    }
}



/* MEDIA QUERIES -------------------------------- */
/* MEDIA QUERIES -------------------------------- */
@media only screen and (orientation:landscape){
    main > section:nth-of-type(2) {
        opacity: 1;
        visibility: visible;
    }
}